<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
  <nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Student Management System</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/students}">Student management</a>
            </li>

        </ul>
    </div>
</nav>
  <br>
  <br>
  <div class="container">
      <div class="col-lg-6 col-md-6 col-sm-6 justify-content-center card">
          <h1 class="text-center">Add New Student</h1>
          <div class="card-body">
              <form th:action="@{/processing-form}" th:object="${student}" method="POST">
                  <div class="form-group">
                      <label for="first-name">
                          Enter first name:
                          <input
                                  id="first-name"
                                  type="text"
                                  class="form-control"
                                  th:field="*{firstName}"
                                  placeholder="First name"
                          >
                      </label>
                  </div>
                  <div class="form-group">
                      <label for="lastname">
                          Enter last name:
                          <input
                                  id="lastname"
                                  type="text"
                                  class="form-control"
                                  th:field="*{lastName}"
                                  placeholder="Last name"

                          >
                      </label>
                  </div>
                  <div class="form-group">
                      <label for="email">
                          Enter email:
                          <input
                                  id="email"
                                  type="text"
                                  class="form-control"
                                  th:field="*{email}"
                                  placeholder="Email"
                          >
                      </label>
                  </div>

                  <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
              </form>
          </div>
      </div>
  </div>
</body>
</html>